body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: grid;
  grid-template:
    "aa aa aa aa ab ab ac ac ad ae af af"
    "aa aa aa aa ab ab ac ac ag ah af af"
    "aa aa aa aa ai ai ak ak ak ak ak ak"
    "aa aa aa aa ai ai ak ak ak ak ak ak"
    "al am an ao ap aq as as at at au av"
    "aw ax ay ay az ba as as at at bb bc"
    "bd bd ay ay be be bf bg bh bh bh bh"
    "bd bd bi bi be be bj bj bh bh bh bh"
    "bk bk bi bi bl bm bj bj bh bh bh bh"
    "bk bk bn bo bp bq br bs bh bh bh bh";
}

.main div {
  background: linear-gradient(135deg, white, blue);
  aspect-ratio: 1;
}
